/*
 * Style sheet for GC benchmark pages
 *http://www.dacapobench.org/images/music.jpg
 * Robin Garner, ANU, 2006
 */
body {
	background-image: none;	
/*	background-image: url("http://dacapobench.org/images/music-faint.png"); */
	background-color: rgb(255,255,255);
	color: rgb(0,0,0);
    	font-family: arial, sans-serif;
}
p { 	color: black;
}

body.menu {
	background-image: none;	
/*	background-image: url("http://dacapobench.org/images/music.png"); */
	background-color: rgb(255,255,255);
	color: rgb(0,0,0);
    	font-family: arial, sans-serif;
}
