**/.DS_Store
nohup.out
benchmarks/.idea/
.idea/
.vscode/
local.properties
*~
scratch/*

benchmarks/dacapo*.jar
benchmarks/dacapo*.zip
benchmarks/dacapo*/
benchmarks/build/*
benchmarks/log/*
benchmarks/tmp/*
benchmarks/dbg/*
benchmarks/scripts/*
benchmarks/SOURCE_VERSION.txt
benchmarks/benchmarks.iml

# harness
benchmarks/harness/downloads/*
!benchmarks/harness/downloads/*.MD5
benchmarks/harness/build/
benchmarks/harness/dist/
benchmarks/harness/tmp
benchmarks/harness/src/org/dacapo/parser/ConfigFile.java
benchmarks/harness/src/org/dacapo/parser/ConfigFileConstants.java
benchmarks/harness/src/org/dacapo/parser/ConfigFileTokenManager.java
benchmarks/harness/src/org/dacapo/parser/ParseException.java
benchmarks/harness/src/org/dacapo/parser/SimpleCharStream.java
benchmarks/harness/src/org/dacapo/parser/Token.java
benchmarks/harness/src/org/dacapo/parser/TokenMgrError.java

# libraries
benchmarks/libs/**/downloads/*
!benchmarks/libs/**/downloads/*.MD5
benchmarks/libs/**/tmp/*
benchmarks/libs/**/build/
benchmarks/libs/**/dist/

# benchmarks
benchmarks/bms/**/downloads/*
!benchmarks/bms/**/downloads/*.MD5
benchmarks/bms/**/build/
benchmarks/bms/**/dist/
benchmarks/bms/**/deps/
benchmarks/bms/**/data/*
benchmarks/bms/**/outjar/*
benchmarks/bms/**/outdat/*
benchmarks/bms/**/tmp/*
benchmarks/bms/kafka/data/
benchmarks/bms/luindex/data/
benchmarks/bms/eclipse/plugin/@dot/
benchmarks/bms/tradebeans/outdat/

# tools
tools/analysis/bcc/target
tools/analysis/bcc/dacapo-harness.jar
tools/analysis/bcc/dependency-reduced-pom.xml
