**/.DS_Store
nohup.out
benchmarks/.idea/
.idea/
.vscode/
local.properties
*~

benchmarks/dacapo-evaluation-git-*

benchmarks/harness/downloads/*
!benchmarks/harness/downloads/*.MD5

benchmarks/libs/**/downloads/*
!benchmarks/libs/**/downloads/*.MD5

benchmarks/bms/**/downloads/*
!benchmarks/bms/**/downloads/*.MD5

benchmarks/bms/**/data/*

benchmarks/bms/**/outjar/*
benchmarks/bms/**/outdat/*
benchmarks/bms/**/tmp/*
benchmarks/libs/**/tmp/*
dacapo/
benchmarks/outjarzip/*
benchmarks/cvs-*

benchmarks/harness/tmp
benchmarks/log/
benchmarks/scratch/

out/*
liblwjgl.dylib
libopenal.dylib
benchmarks/data/*
scratch/*

benchmarks/tmp/*
benchmarks/dbg/*
benchmarks/scripts/*

benchmarks/libs/**/build/
benchmarks/libs/**/dist/
benchmarks/bms/**/build/
benchmarks/bms/**/dist/

benchmarks/harness/src/org/dacapo/parser/ConfigFile.java
benchmarks/harness/src/org/dacapo/parser/ConfigFileConstants.java
benchmarks/harness/src/org/dacapo/parser/ConfigFileTokenManager.java
benchmarks/harness/src/org/dacapo/parser/ParseException.java
benchmarks/harness/src/org/dacapo/parser/SimpleCharStream.java
benchmarks/harness/src/org/dacapo/parser/Token.java
benchmarks/harness/src/org/dacapo/parser/TokenMgrError.java

benchmarks/harness/build/
benchmarks/harness/dist/

benchmarks/SOURCE_VERSION.txt
benchmarks/benchmarks.iml

benchmarks/bms/kafka/data/
benchmarks/bms/luindex/data/
benchmarks/bms/eclipse/plugin/@dot/
benchmarks/bms/batik/deps/

benchmarks/build/
benchmarks/dacapo*.jar
benchmarks/dacapo*/dat/
benchmarks/dacapo*/jar/

benchmarks/run.sh

benchmarks/META-INF/
benchmarks/bms/tradebeans/outdat/

tools/analysis/bcc/target
tools/analysis/bcc/dacapo-harness.jar
tools/analysis/bcc/dependency-reduced-pom.xml