@font-face {
  font-family: Plot; 
  font-weight: normal;
  font-style: normal;
  src: url("fonts.svg#Normal") format(svg);
}
@font-face {
  font-family: Plot; 
  font-weight: bold;
  font-style: normal;
  src: url("fonts.svg#Bold") format(svg);
}
@font-face {
  font-family: Plot; 
  font-weight: normal;
  font-style: italic;
  src: url("fonts.svg#Italic") format(svg);
}

svg {
  font-family: Plot;
}
